# Git ignore file for repository

# Statements are bank statements and other import data, should not be uploaded ever

statements/
data/
.vscode/
**/pycache/*
**/*pycache*/*
**/init.py
importer/
users/
database/
db.sqlite3