# Git ignore file for repository

# misc vscode/environment related files
.vscode/
**/pycache/*
**/*pycache*/*
**/init.py

# Statements are bank statements and other import data, should not be uploaded ever
statements/
data/

# deprecated archive, kept local for reference
utilities/deprecated/*

# databases are ommited because it should be created on initial run
db.sqlite3
Dead_db.sqlite3_dead

# Misc test/scratch and log files that shouldnt be on Git
tkintertest.py
class-scratch.py
TextBoxBuilder_test.py
logs/
importers/logs/
runninglog.txt