# Git ignore file for repository

# misc vscode/environment related files
.vscode/
**/pycache/*
**/*pycache*/*
**/init.py

# Statements are bank statements and other import data, should not be uploaded ever
budgetbook/statements/
budgetbook/utilities/importers/statements/
budgetbook/data/

# deprecated archive, kept local for reference
budgetbook/utilities/deprecated/*

# databases are ommited because it should be created on initial run
db.sqlite3
Dead_db.sqlite3_dead

# Misc test/scratch and log files that shouldnt be on Git
**/runninglog.txt*
**/*runninglog.txt*

#temporary setups that should not be replicated to actual release
budgetbook/utilities/importers/utilities/
budgetbook/tkintertest.py
budgetbook/TextBoxBuilder_test.py
budgetbook/import_testing.py
budgetbook/tabtest.py

test_main.py

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/